<!doctype html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
          {% for name in todolist_list %}
            <div>
                <h2>
                    <a href="{% url 'todo_list_detail' todolist.pk %}">{{ todolist.name }}</a>
                </h2>
            </div>
          {% endfor %}
        </main>
    </body>
</html>